.img-container{
    display: grid;
     grid-template-columns: repeat(2, 2fr); 
     /* grid-template-rows: repeat(2, 2fr);  */
     gap: 60px;
     margin-left: 2rem;
     margin-top:5rem;
}
.title{
    display: flex;
    flex-direction: column;
    gap:2rem;
    /* align-items: flex-start; */
    margin:1rem 0 0rem  3rem;
    font-family:cursive;
    font-size: larger;
}
b{
    color:dimgrey;
}